.card-container {
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  height: 300px;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgb(200, 200, 200);
  /* box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.75); */
  padding: 15px;
  opacity: 0.9;
}

.note-data {
  height: 100%;
  overflow: hidden;
  /* color: black; */
  opacity: 1;
}
