[className="jodit-status-bar-link"] {
  display: none;
  background-color: aqua !important;
}

.text-editor-container {
  margin: 10px;
}

.text-editor-btn-container {
  position: fixed;
  margin: 10px 5px;
  bottom: 0;
  left: 0;
}
